.structure {
  --x-min: 0;
  --y-min: 0;
  --pixels-per-angstrom: 66;
  --bond-width: 2px;
  --double-bond-spacing: 6px;
  --padding: 1em;
  --x-max: 1;
  --y-max: 1;

  width: calc(2 * var(--padding) + 1px * var(--pixels-per-angstrom) * (var(--x-max) - var(--x-min)));
  height: calc(2 * var(--padding) + 1px * var(--pixels-per-angstrom) * (var(--y-max) - var(--y-min)));
}

.atom {
  --size: 1.25em;

  width: var(--size);
  height: var(--size);
  margin: calc(-0.5 * var(--size));
  background: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transform:
    translate(
      calc(var(--padding) + 1px * var(--pixels-per-angstrom) * (var(--x) - var(--x-min))),
      calc(var(--padding) + 1px * var(--pixels-per-angstrom) * (var(--y) - var(--y-min)))
    );
}

.atom::after {
  font-size: 0.6em;
  line-height: 0.5em;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.atom.p1::after {
  content: "+";
}

.atom.p2::after {
  content: "2+";
}

.atom.m1::after {
  content: '−';
}

.atom.m2::after {
  content: '2-';
}

.hydrogen::before {
  content: "H";
}

.helium::before {
  content: "He";
}

.lithium::before {
  content: "Li";
}

.beryllium::before {
  content: "Be";
}

.boron::before {
  content: "B";
}

.carbon {
  background: none;
}

.carbon.explicit {
  background: white;
}

.carbon.explicit::before {
  content: "C";
}

.nitrogen::before {
  content: "N";
}

.oxygen::before {
  content: "O";
}

.fluorine::before {
  content: "F";
}

.neon::before {
  content: "Ne";
}

.sodium::before {
  content: "Na";
}

.magnesium::before {
  content: "Mg";
}

.aluminium::before {
  content: "Al";
}

.silicon::before {
  content: "Si";
}

.phosphorus::before {
  content: "P";
}

.sulphur::before {
  content: "S";
}

.chlorine::before {
  content: "Cl";
}

.argon::before {
  content: "Ar";
}

.potassium::before {
  content: "K";
}

.calcium::before {
  content: "Ca";
}

.scandium::before {
  content: "Sc";
}

.titanium::before {
  content: "Ti";
}

.vanadium::before {
  content: "V";
}

.chromium::before {
  content: "Cr";
}

.manganese::before {
  content: "Mn";
}

.iron::before {
  content: "Fe";
}

.cobalt::before {
  content: "Co";
}

.nickel::before {
  content: "Ni";
}

.copper::before {
  content: "Cu";
}

.zinc::before {
  content: "Zn";
}

.gallium::before {
  content: "Ga";
}

.germanium::before {
  content: "Ge";
}

.arsenic::before {
  content: "As";
}

.selenium::before {
  content: "Se";
}

.bromine::before {
  content: "Br";
}

.krypton::before {
  content: "Kr";
}

.rubidium::before {
  content: "Rb";
}

.strontium::before {
  content: "Sr";
}

.yttrium::before {
  content: "Y";
}

.zirconium::before {
  content: "Zr";
}

.niobium::before {
  content: "Nb";
}

.molybdenum::before {
  content: "Mo";
}

.technetium::before {
  content: "Tc";
}

.ruthenium::before {
  content: "Ru";
}

.rhodium::before {
  content: "Rh";
}

.palladium::before {
  content: "Pd";
}

.silver::before {
  content: "Ag";
}

.cadmium::before {
  content: "Cd";
}

.indium::before {
  content: "In";
}

.tin::before {
  content: "Sn";
}

.antimony::before {
  content: "Sb";
}

.tellurium::before {
  content: "Te";
}

.iodine::before {
  content: "I";
}

.xenon::before {
  content: "Xe";
}

.caesium::before {
  content: "Cs";
}

.barium::before {
  content: "Ba";
}

.lanthanum::before {
  content: "La";
}

.cerium::before {
  content: "Ce";
}

.praseodymium::before {
  content: "Pr";
}

.neodymium::before {
  content: "Nd";
}

.promethium::before {
  content: "Pm";
}

.samarium::before {
  content: "Sm";
}

.europium::before {
  content: "Eu";
}

.gadolinium::before {
  content: "Gd";
}

.terbium::before {
  content: "Tb";
}

.dysprosium::before {
  content: "Dy";
}

.holmium::before {
  content: "Ho";
}

.erbium::before {
  content: "Er";
}

.thulium::before {
  content: "Tm";
}

.ytterbium::before {
  content: "Yb";
}

.lutetium::before {
  content: "Lu";
}

.hafnium::before {
  content: "Hf";
}

.tantalum::before {
  content: "Ta";
}

.tungsten::before {
  content: "W";
}

.rhenium::before {
  content: "Re";
}

.osmium::before {
  content: "Os";
}

.iridium::before {
  content: "Ir";
}

.platinum::before {
  content: "Pt";
}

.gold::before {
  content: "Au";
}

.mercury::before {
  content: "Hg";
}

.thallium::before {
  content: "Tl";
}

.lead::before {
  content: "Pb";
}

.bismuth::before {
  content: "Bi";
}

.polonium::before {
  content: "Po";
}

.astatine::before {
  content: "At";
}

.radon::before {
  content: "Rn";
}

.francium::before {
  content: "Fr";
}

.radium::before {
  content: "Ra";
}

.actinium::before {
  content: "Ac";
}

.thorium::before {
  content: "Th";
}

.protactinium::before {
  content: "Pa";
}

.uranium::before {
  content: "U";
}

.neptunium::before {
  content: "Np";
}

.plutonium::before {
  content: "Pu";
}

.americium::before {
  content: "Am";
}

.curium::before {
  content: "Cm";
}

.berkelium::before {
  content: "Bk";
}

.californium::before {
  content: "Cf";
}

.einsteinium::before {
  content: "Es";
}

.fermium::before {
  content: "Fm";
}

.mendelevium::before {
  content: "Md";
}

.nobelium::before {
  content: "No";
}

.lawrencium::before {
  content: "Lr";
}

.rutherfordium::before {
  content: "Rf";
}

.dubnium::before {
  content: "Db";
}

.seaborgium::before {
  content: "Sg";
}

.bohrium::before {
  content: "Bh";
}

.hassium::before {
  content: "Hs";
}

.meitnerium::before {
  content: "Mt";
}

.darmstadtium::before {
  content: "Ds";
}

.roentgenium::before {
  content: "Rg";
}

.copernicium::before {
  content: "Cn";
}

.nihonium::before {
  content: "Nh";
}

.flerovium::before {
  content: "Fl";
}

.moscovium::before {
  content: "Mc";
}

.livermorium::before {
  content: "Lv";
}

.tennessine::before {
  content: "Ts";
}

.oganesson::before {
  content: "Og";
}

.bond {
  --dx: calc(var(--x2) - var(--x1));
  --dy: calc(var(--y2) - var(--y1));
  --r2: calc(var(--dx) * var(--dx) + var(--dy) * var(--dy));

  /* css has no square root, so use the babylonian method to estimate */
  --r-est01: calc(0.5 * (var(--r2) + 1));
  --r-est02: calc(0.5 * (var(--r-est01) + (var(--r2) / var(--r-est01))));
  --r-est03: calc(0.5 * (var(--r-est02) + (var(--r2) / var(--r-est02))));
  --r-est04: calc(0.5 * (var(--r-est03) + (var(--r2) / var(--r-est03))));
  --r-est05: calc(0.5 * (var(--r-est04) + (var(--r2) / var(--r-est04))));
  --r-est06: calc(0.5 * (var(--r-est05) + (var(--r2) / var(--r-est05))));
  --r-est07: calc(0.5 * (var(--r-est06) + (var(--r2) / var(--r-est06))));
  --r-est08: calc(0.5 * (var(--r-est07) + (var(--r2) / var(--r-est07))));
  --r-est09: calc(0.5 * (var(--r-est08) + (var(--r2) / var(--r-est08))));
  --r: calc((var(--r-est09) + (var(--r2) / var(--r-est09))) / 2);
  --sin: calc(var(--dy) / var(--r));
  --cos: calc(var(--dx) / var(--r));

  position: absolute;
  width: calc(1px * var(--pixels-per-angstrom) * var(--r));
  height: calc(var(--bond-width));
  margin:
    calc(var(--bond-width) * -0.5)
    calc(-0.5px * var(--pixels-per-angstrom) * var(--r));
  transform:
    translate(var(--padding), var(--padding))
    matrix(
      var(--cos),
      var(--sin),
      calc(0 - var(--sin)),
      var(--cos),
      calc(var(--pixels-per-angstrom) * (0.5 * (var(--x2) + var(--x1)) - var(--x-min))),
      calc(var(--pixels-per-angstrom) * (0.5 * (var(--y1) + var(--y2)) - var(--y-min)))
    );
  z-index: -1;
  background: black;
}

.double.bond {
  background: none;
}

.double.bond::before,
.double.bond::after,
.triple.bond::before,
.triple.bond::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
}

.double.bond::before {
  bottom: calc(0.5 * var(--double-bond-spacing));
}

.double.bond::after {
  top: calc(0.5 * var(--double-bond-spacing));
}

.triple.bond::before {
  bottom: calc(1 * var(--double-bond-spacing));
}

.triple.bond::after {
  top: calc(1 * var(--double-bond-spacing));
}

.backward {
  height: calc(3 * var(--bond-width));
  background: linear-gradient(90deg, black 25%, rgba(0, 0, 0, 0) 25%);
  background-size: 8px auto;
}

.forward {
  height: calc(3 * var(--bond-width));
}
